<nav class="navbar navbar-light bg-light d-flex flex-inline">
  <a class="navbar-brand ml-5" href="#">
    <img src="https://thefrugalchicken.com/wp-content/uploads/2023/04/What-do-baby-ducks-eat-min.jpg" width="50" height="50" class="d-inline-block align-center" alt="">
    Quackipedia
  </a>
  <ul class="navbar-nav mr-5 d-flex flex-row">
    <li class="nav-item p-3">
      <%= link_to "Home", articles_path %>
    </li>
    <li class="nav-item p-3">
      <%= link_to "New Article", new_article_path %>
    </li>
</nav>
